body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    background-color: rgb(255, 100, 0);
    height: 80px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 36px;
}

.headerList {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    gap: 30px;
}

.headerListItem {
    text-align: center;
    list-style: none;
    width: 100px;
    padding: 25px 10px;
}

.main {
    min-height: 83%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.active {
    display: flex;
}

.deActive {
    display: none;
}

.selected {
    background-color: rgb(255, 30, 0);
}

.home {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(255, 102, 0);
    font-size: 80px;
    font-weight: 900;
}
.home button{
    color: white;
    background-color: rgb(255, 102, 0);
    border: none;
    border-radius: 15px;
    width: 200px;
    height: 50px;
    font-size: 24px;
}
.menu {

    font-size: large;

}

.contact {
    font-size: 18px;
    width: 600px;
    height: 280px;
    border-radius: 20px;
    /* border: solid 5px rgb(255, 102, 0); */
    color: rgb(255, 102, 0);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact p{
    margin: 5px;
}


.footer {
    background-color: rgb(255, 102, 0);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 0px;
}

.footerContent {
    text-align: center;
    color: white;
}

.footerLink {
    color: white;
    text-decoration: none;
}


@media only screen and (max-width: 800px) {

    .header {
        flex-direction: column;
        text-align: center;
        height: 150px;
        padding: 10px 0px;
        width: 100%;
    }

    .headerList {
        padding: 0;
        margin-top: 0;
        gap: 0px;
    }

    .headerListItem {
        padding: 20px 0px 20px 0px;
    }

    .selected {
        border-radius: 20px;
    }

    .home {
        width: 250px;
        font-size: 30px;
    }
    .contact {
        font-size: 16px;
        height: 200;
        width: 300px;
    }


}